.menuItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 10px;
    padding-bottom: 10px;
}

.itemContent {
    margin-right: 10px;
    position: relative;
}

.itemTitle {
    margin-top: 0;
}

.itemDescription {
    text-align: left;
}

.itemAppearance {
    text-align: right;
}
