.menuItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 10px;
    padding-bottom: 15px;
}

.itemContent {
    margin-right: 10px;
    position: relative;
}

.itemTitle {
    margin-top: 0;
}

.itemDescription {
    text-align: left;
}

.itemAppearance {
    text-align: right;
}

.imageWrapper {
    position: relative;
}

.buttonWishlist {
    width: 24px;
    height: 24px;
    position: absolute;
    border: none;
    background-color: unset;
    font-size: 1.4rem;
    color: red;
    top: 5px;
    right: 5px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.itemImage {
    height: 125px;
    margin-bottom: 10px;
    cursor: pointer;
}
