.content {
    margin: 0 20px;
}
.content strong {
    margin-left: 10px;
    color: var(--tg-theme-text-color, black);
}

.content a {
    text-decoration: none;
}

.phone {
    font-size: 1.2rem;
}
