.headMenuItem {
    cursor: pointer;
    background-color: var(--main-color);
    text-decoration: none;
    margin-right: 8px;
    padding: 8px 16px;
    border-radius: 10px;
    flex-shrink: 0;
    font-size: 1.2rem;
    color: white;
}
