.header {
    margin: 0 20px;
    position: sticky;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: var(--tg-theme-bg-color, white);
    z-index: 1;
}

.headerLogo {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons {
    color: var(--main-color);
    font-size: 2.2rem;
    cursor: pointer;
    margin-right: 10px;
}

.buttons:last-of-type {
    margin-right: 0px;
}

.buttons:hover {
    filter: contrast(50%);
}

.logo {
    width: 100%;
    height: 30px;
    background-image: url('../../../public/logo-new-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
}
