.header {
    margin: 0 20px 10px 20px;
    position: sticky;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: var(--tg-theme-bg-color, white);
    z-index: 1;
}

.headerLogo {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.buttonsIcon {
    color: var(--main-color);
    font-size: 2.2rem;
    cursor: pointer;
}

.logo {
    height: 30px;
    background-image: url('../../../public/logo-new-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.logoLink {
    width: 100%;
}
