.imageWrapper,
.imageWrapperModal {
    position: relative;
    margin: 0 auto;
}

.imageWrapperModal {
    width: 250px;
}

.buttonFavoriteList {
    position: absolute;
    border: none;
    background-color: unset;
    font-size: 1.4rem;
    color: red;
    top: 5px;
    right: 5px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s easy;
}

.itemImage.itemImageModal {
    margin-bottom: 10px;
    cursor: pointer;
}
.itemImage {
    height: 125px;
}

.itemImageModal {
    height: 250px;
}
