.headMenuItem {
    cursor: pointer;
    background-color: var(--main-color);
    margin-right: 8px;
    padding: 5px 15px;
    border-radius: 10px;
    flex-shrink: 0;
    font-size: 1.2rem;
    color: var(--tg-theme-bg-color, white);
    border: none;
}

.headMenuItem.active {
    background-color: var(--main-active-color);
}
