:root {
    --main-color: #76eee2;
    --main-active-color: #66ccc2;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}
